IP v6 / prefix format 

another approach is to leave it as it is at the moment and keep this implementation detail for later. 
the main important aspect at this moment is that other folks assess the importance of using the IP adress as a way to check whether the client changed its access or not.

IPv6 privacy addresses are likely problematic though if we use a full address. I am not quite sure what is best to say.

An approach would be to enable only IPv4 in the extension for privacy reasons but I am not sure whether it is the best thing to do.. 

In an old-fashioned world, the src IP told you what I think we need, which identifies the endpoint including the interface. 

:-( However, the internet has changed ...  a client can be behind a NAPT (where the src-IP is likely private re-used address space), or have v6 privacy address (random changing). Neither of these really matter from the perspective of  a path, but both make src-IP problematic.

:-) So, we need to think: I wonder if the client can identify how it understands a path ... particularly itself and which interface it used, but possibly more -  if it leaves the endpoint on the same interface to the same dest, then it's assumed to be the same path.  Can a client form a path "ID" perhaps derived from some local info (it's public IP, or some totally random info to uniquely identify itself), but including in some way the interface ID?
 
As long as these pieces are a part of the info  then would this be good enough to add to the transport information to verify the path. The possibility that this becomes opaque data known only to the client might actually be good.

I am affraid of the relevance and trustness of the information provided / estimated by the client itself. I do not know what kind of Pandora box would be open with this approach. The client could "forget" or "mis implement" the usage of the local information which would result in the server to run the careful resume and path check anyway. 

An approach could then be to let the server run the careful resume, whether the client changed its IPv4/v6/interface or not. 

see Issue #36 

We could point to RFC 9040 (section 8.3.)

We can close this issue since the approach is more general with the Path Token idea. 