How do we identify the path ?  

This identification could be different depending on the implementation solution. 

Path Token as suggest by John

Path Token : unique number generated by the sender - can contain many things (IP, interface, randomness - NAT) can be seen by both client and senders. 

It is then up to the sender to validate the path token upon reception of the bdpframe.

When we explain this we can talk about:
- RFC 9040 Section 8,  control sharing
- Privacy extensions in IPv6 - i.e. where the token does not include the actual IP, but the base info used to make the address
- Privacy considerations RFC
- Maybe something from PANRG
The above can be pit in a separate text file until we are ready to add

Yes sender validates this. See the document proposed by GF.